{% extends 'base/chat.base.html' %}
{% block title %}Welcome To {{chat_room.DisplayName}} Chat{% endblock %}
{% block main_tag %}
	<div class="chat-window-outer">
		<div class="chat-window">
			<table ng-app="chatApp" ng-controller="chatCtrl" ng-init="messageEditing=-1">
				<tbody>
					{% for msg in chat_messages %}
						<tr>
							<td class="user">{{msg.username}}</td>
							<td class="date-time">{{msg.datetime}}</td>
							<td class="text">
								{% if msg.can_edit %}
									<span class="can-edit" ng-click="messageEditing={{msg.id}}" ng-show="messageEditing==-1" ng-bind="messageText[{{msg.id}}]"></span>
									<input type="text" ng-init="messageText[{{msg.id}}]='{{msg.text}}'" ng-value="messageText[{{msg.id}}]" ng-model="messageText[{{msg.id}}]" ng-show="messageEditing=={{msg.id}}" />
									<span class="edit" ng-show="messageEditing=={{msg.id}}" ng-click="editMessage({{msg.id}})">Done Editing</span>
								{% else %}
									<span>{{msg.text}}</span>
								{% endif %}
							</td>
							<td class="like" ng-init="{% if msg.liked %}likedMessage[{{msg.id}}]='Liked';{% else %}likedMessage[{{msg.id}}]='Like';{% endif %}" ng-click="likeMessage({{msg.id}})" ng-bind="likedMessage[{{msg.id}}]"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<form method="post" class="chat-entry">
		<input name="message-body" placeholder="Enter Your Message For The World Here" type="text" maxlength="128" />
		<input type="submit" value="Chat" />
		{% csrf_token %}
	</form>
{% endblock %}
{% block bottom_scripts %}
	<script>
		var chatApp = angular.module("chatApp", []); // AngularJS App
		chatApp.controller("chatCtrl", function($scope, $http) {
			$scope.likeMessage = function(message_id) {
				var likeUrl = "/chat/api/like-message/" + message_id;
				
				$http.get(likeUrl).then(function(response) {
					if (response["status"] === 200 && response["data"]["success"]) {
						if ($scope.likedMessage[message_id] == "Like") {
							$scope.likedMessage[message_id] = "Liked";
						} else {
							$scope.likedMessage[message_id] = "Like";
						}
					}
				});
			}
			
			$scope.editMessage = function(message_id) {
				var editUrl = "/chat/api/edit-message/" + message_id;
				var csrfToken = jQuery("form.chat-entry input[name='csrfmiddlewaretoken']").val();
				$scope.messageEditing = -1;
				
				$http.post(
						editUrl, 
						{"text":$scope.messageText[message_id]},
						{headers:{"Content-Type":"application/json","X-CSRFToken":csrfToken}})
				.then(function(response) {
					console.log(response["data"]);
				});
			}
		});
	</script>
{% endblock %}