{% extends 'base/accounts.base.html' %}
{% block title %}Welcome To A Super Cool Chat Program - Create An Account To Get Started{% endblock %}
{% block main_tag %}
	{% if error_msg != "" %}
		<div class="error-msg">{{error_msg}}</div>
	{% endif %}
	<form method="post" class="login-form">
		<input type="email" name="username" placeholder="E-mail address" required />
		<input type="text" name="first-name" placeholder="First Name" required />
		<input type="text" name="last-name" placeholder="Last Name" />
		<input type="password" name="password-1" placeholder="Password" required />
		<input type="password" name="password-2" placeholder="Confirm Password" required />
		<input type="submit" value="Sign up" />
		{% csrf_token %}
	</form>
{% endblock %}
{% block bottom_scripts %}{% endblock %}