{% load staticfiles %}
<!doctype html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}?d=201806160116" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="{% url 'chat:all_chats' %}">All Chats</a>
				<a href="#">My Chats</a>
				<a href="#">My Settings</a>
			</nav>
		</header>
		<main>
			{% block main_tag %}{% endblock %}
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		{% block bottom_scripts %}{% endblock %}
	</body>
</html>